<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>AGCWDer</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark font-weight-bold flex">
        <a class="navbar-brand" href="/">AGCWDer</a>
    </nav>
    <div class="website-desc d-flex font-weight-bold mb-1">Simply upload an image and we will enhance the contrast for you!</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mb-4">
                <div class="mb-4 font-weight-bold h4">Input Image</div>
                <form class="d-flex flex-column justify-content" action="/" method="post" enctype="multipart/form-data">
                    <div>
                        <img class="img-fluid" id="imgPreview" src="#" alt="">
                        <input class="my-3" id="imgInput" type="file" name="file" accept="image/*" placeholder="image" required>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Enhance</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 text-center">
                <div class="mb-4 font-weight-bold h4">Output Image (Preview)</div>
                <div class="d-flex flex-column mb-4">
                    <div>
                        {% if uploaded %}
                            <img class="img-fluid" src="{{ url_for('static', filename='enhanced.jpg') }}" alt="Enhanced Image">
                            <div class="my-3">enhanced.jpg</div>
                        {% endif %}
                    </div>
                    <div>
                        {% if uploaded %}
                            <a href="{{ url_for('download') }}" class="btn btn-primary">Download</a>
                        {% endif %}
                    </div>
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('imgInput').addEventListener('change', function() {
            var image = document.getElementById('imgPreview');
            var file = this.files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                image.src = e.target.result;
            };
            reader.readAsDataURL(file);
        });
    </script>
</body>
</html>
